
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

.bg-white{
  background: white;
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

body{
  background: #fafafa;
  line-height: 1.6;
}

.post-list{
  .post-item{
    background: white;
    .post-header, .post-footer{
      border: 1px solid #eee;
      padding: 12px 24px;
    }
    .post-header{
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .post-footer{
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #999;

      .status{
        font-size: 12px;
        border-bottom: 1px solid #efefef;
        padding-bottom: 6px;
      }
      .action{
        padding-top: 6px;

        .voteup-toggle{
          font-size: 24px;
          color: #999;
          &.active{
            color: deeppink;
          }
        }
      }
    }
  }
  .post-item .post-body img{
    width: 100%;
  }
}
